<h1 class="text-center">Todos</h1>
<form class="form-horizontal" ng-submit="save()">
  <div class="form-group">
    <div class="col-md-5">
      <input class="form-control" type="text" ng-model="todo.text" size="30" placeholder="add new todo here (hit enter to save)">
    </div>
    <!-- <div class="col-sm-4"> -->
    <!--   <input type="submit" value="add"> -->
    <!-- </div> -->
  </div>
</form>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="todo in todos">
  <a ng-href="#/edit/{{todo.id}}">{{todo.text}}</a>
  <!-- <input type="checkbox" ng-model="todo.done"> -->
  <div class="pull-right">
    <button ng-click="remove($index, todo.id)" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  </div>
  </li>
</ul>
